<section>
    <main [className]="'user-container'">
      <div [className]="'user-list-title'">
        <mat-toolbar>
          <span >User Details</span>
        </mat-toolbar>
      </div>
      <div [className]="'details-container'">
        <ul [className]="'list-details'">
          <li [className]="'details'" *ngFor="let item of userDetailsDescriptions; let i = index">
              {{this.userDetailsDescriptions[i]}}:
              {{this.userDetails[userDetailsCorrectOrder[i]]}}
          </li>
        </ul>
      </div>
      <div [className]="'button-container'">
        <button mat-raised-button color="primary" [routerLink]="'/'">Back</button>
      </div>
    </main>
</section>
