$shadow-for-box: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
$padding-for-element: .5rem;
$padding-for-conatainer: .5rem;
@mixin set-title-details {
  width: 100%;
  @media screen and (min-width: 1439px){
    width: 80%;
  }
  @media screen and (min-width: 1600px){
    width: 60%;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .user-container {
    @include set-title-details;
    padding: $padding-for-element;
    .user-list-title {
      width: 100%;
      padding: $padding-for-element;
      mat-toolbar {
        background: lightgreen;
        box-shadow: $shadow-for-box
      }
    }
    .details-container {
      width: 100%;
      padding: $padding-for-conatainer;
      .list-details {
        box-shadow: $shadow-for-box;
        padding: $padding-for-element;
          .details {
            padding: $padding-for-element;
            list-style-type: none;
            width: 100%;
            word-break: break-all;
          }
      }
    }
    .button-container {
      width: 100%;
      padding: $padding-for-conatainer;
      button {
        width: 10rem;
        height: 3rem;
      }
    }
  }
}
