@mixin padding-for-small-screen {
  @media screen and (max-width: 319px){
    padding: 0;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
  .main-container {
    width: 100%;
    @media screen and (min-width: 769px){
      width: 80%;
    }
    @media screen and (min-width: 1035px){
      width: 60%;
    }
    @include padding-for-small-screen;
    padding: .5rem;
    .add-user-container {
      width: 100%;
      padding: .5rem;
      button {
        background: lightgreen;
        width: 10rem;
        height: 3rem;
      }
    }
    .table-container {
      @include padding-for-small-screen;
      padding: 0 .5rem .5rem .5rem;
      width: 100%;
    }
  }
}
