<ul [className]="'user-list'">
  <li [className]="'element-list'" *ngFor="let data of userList">
    <div [className]="'current-element'" *ngFor="let nameData of userDetailsDescriptions; let i = index">
      <div [className]="'element-container'">
        <div [className]="'title'">{{nameData}}:</div>
        <div [className]="'element'"><p>{{data[userDetailsCorrectOrder[i]]}}</p></div>
      </div>
    </div>
    <div [className]="'button-container'">
      <span class="material-icons" (click)="editUserInParent(data)">edit</span>
      <span class="material-icons" (click)="deleteUserInParent(data)">delete</span>
      <span class="material-icons" (click)="goToDetailsInParent(data)">person</span>
    </div>
  </li>
</ul>

