.userList {
  width: 100%;
  display: block;
  @media screen and (max-width: 1024px){
    .elementList {
      width: 100%;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      list-style-type: none;
      margin-top: 1rem;
      margin-bottom: 1rem;
      .currentElement {
        width: 100%;
        .element-container{
          width: 100%;
          padding: .5rem;
          display: flex;
          .title {
            flex: 1;
            word-break: break-word;
          }
          .element {
            flex: 1;
            word-break: break-word;
              p {
                width: 110px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
          }
        }
      }
      .button-container {
        display: flex;
        justify-content: space-between;
        span {
          padding: .5rem;
          font-size:  2rem;
        }
      }
    }
  }
}
