$padding-for-elements: .5rem;
$border-elements: 1px solid lightgray;
.user-list {
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0, 0, 0, 0.05);
  .element-name {
    display: flex;
    border-bottom: $border-elements;
    padding: $padding-for-elements;
      .name {
        font-size: 1.2em;
        flex: 1;
      }
      .name:last-of-type {
        flex: 2;
      }
  }
  .element-data {
    border-bottom: $border-elements;
    display: flex;
    align-items: center;
      .element-details {
         flex: 1;
          .element {
            padding: $padding-for-elements;
              p {
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
          }
        }
      .button-container {
        padding: $padding-for-elements;
        flex: 2;
        display: flex;
        justify-content: space-between;
      }
    }
  }
