@mixin set-for-th-td {
  flex: 1;
  padding: 10px 2px 0 2px;
}
table {
  width: 100%;
}
tr {
  th.mat-header-cell {
    text-align: center;
    //word-break: break-word;
  }
  td.mat-cell {
    text-align: center;
    //word-break: break-word;
  }
  @media screen and (min-width: 1025px){
    td.mat-cell:last-of-type {
      text-align: end;
        button {
          margin: 0 5px 0 5px;
        }
    }
  }
  @media screen and (max-width: 1024px){
    display: flex;
    flex-wrap: wrap;
    th.mat-header-cell {
      @include set-for-th-td;
      font-size: 11px;
    }
    th.mat-header-cell:last-of-type {
      display: none;
    }
    td.mat-cell {
      @include set-for-th-td;
      font-size: 12px;
    }
    td.mat-cell:last-of-type {
      flex: 1 100%;
      display: flex;
      span {
        font-size: 2em;
        flex: 1;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  tr.mat-footer-row, tr.mat-row {
    height: 5em;
  }
}
