$center-text: center;
table {
  width: 100%;
}
tr {
  display: flex;
  flex-wrap: wrap;
  th.mat-header-cell {
    flex: 1;
    text-align: $center-text;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
  }
  th.mat-header-cell:last-of-type {
    display: none;
  }
  td.mat-cell:last-of-type {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
    span {
      font-size: 2em;
    }
  }
  td.mat-cell {
    flex: 1;
    padding-left: 2px;
    padding-right: 2px;
    // width: $th-td-width;
    text-align: $center-text;
    font-size: 12px;
  }
}
